@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Audrey';
    src: url('font-audrey/Audrey-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audrey Oblique';
    src: url('font-audrey/Audrey-NormalOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Audrey Bold';
    src: url('font-audrey/Audrey-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Audrey Bold Oblique';
    src: url('font-audrey/Audrey-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}

html{
    font-family: Josefin Sans, Audrey, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 16px;
    font-size: 12px;
}


body {
  padding: 0;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}


:root {
  --color1: #03110E;
  --color2: #FFFFFF;
  --color3: #C4EBF8;
  --color4: #B14F25;
  --color5: #B11823;
}